.sbi{
font-style:italic;
font-weight:700;
}
.vot_plus {
 position:relative;
 margin:3px;
 width:56px;
background-color:#abcdfe;
 border:1px solid #dedefe;
 font-family:"Calibri", Arial, sans-serif;
 text-align:center;
 padding:0 2px 1px 2px;
 box-shadow:.17em .2em .23em #8889df;
 -webkit-box-shadow:.17em .2em .23em #8888df;
 border-radius:.5em;
}
.vot_plus div{
background-image:url('votplus.gif');
background-repeat:no-repeat;
background-position:center 0;
border-radius:0;
cursor:pointer;
margin:0 auto;
padding:0;
}
.vot_mp1, .vot_mp2 {
 position:relative;
 margin:3px;
 width:75px;
 background-color:#bedefe;
 border:1px solid #dedefe;
 font-family:"Calibri", Arial, sans-serif;
 text-align:center;
 padding:0 1px 1px 1px;
 box-shadow:.17em .2em .23em #8888df;
 -webkit-box-shadow:.17em .2em .23em #8888df;
 border-radius:.7em;
}
.vot_mp1 .v_minus, .vot_mp1 .v_plus, .vot_mp2 .v_minus, .vot_mp2 .v_plus {
background-repeat:no-repeat;
background-position:center 0;
cursor:pointer;
 min-width:33px;
 min-height:28px;
}
.vot_mp1 .v_minus, .vot_mp2 .v_minus{
background-image:url('votdown.png');
}
.vot_mp1 .v_plus, .vot_mp2 .v_plus{
background-image:url('votup.png');
}
.vot_plus h4, .vot_mp1 h4, .vot_mp2 h4 {
 margin:0 auto 2px auto;
 background:#fefefe;
 text-align:center;
 font-size:17px;
 padding:0 1px;
 border-radius:.5em;
}
.vot_mp1 .nvotes {
 margin:1px 2px;
 background:#eff0fe;
 border:1px solid #bebebe;
 font-size:12px;
}
.vot_mp1 .v_plus, .vot_mp1 .v_minus, .vot_mp2 .v_plus, .vot_mp2 .v_minus {
display:inline-block;
width:calc(49% - 2px);
 margin:0 1px;
 text-align:center;
 font-size:14px;
}
.vot_plus div:hover, .vot_mp1 div:hover, .vot_mp2 div:hover{
background-color:#fbfbbb;
}
.vot_mp2 .v_minus, .vot_mp2 .v_plus{
font-weight:800;
 min-height:20px;
padding:30px 0 0 0;
}
.vot_mp2 .v_plus {
 color:#0000d0;
}
.vot_mp2 .v_minus {
 color:#d00000;
}